<!-- 
  <ion-header>
    <ion-toolbar>
      <ion-title text-center>متروو : خط شمالی - جنوبی</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header> -->
  <ion-header>
 
    <ion-toolbar>
      <ion-title text-center style="color: white">  مترو : خط شمالی - جنوبی</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
   
  <ion-list>
 <ion-item dir="rtl">
  <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
 </ion-avatar>
 <h5>پایانه ی مترو قدس</h5>
 </ion-item>
  <ion-item dir="rtl">
  <ion-avatar item-end>
 <ion-icon name="subway"></ion-icon>
  </ion-avatar>
  <h5>بهشتی</h5>
  </ion-item>
  <ion-item dir="rtl">
   <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
 </ion-avatar>
 <h5>خواجه نصیر</h5>
 </ion-item>
  <ion-item dir="rtl">
  <ion-avatar item-end>
   <ion-icon name="subway"></ion-icon>
 </ion-avatar>
  <h5>شیخ بهایی</h5>
   </ion-item>
  <ion-item dir="rtl">
 <ion-avatar item-end>
   <ion-icon name="subway"></ion-icon>
   </ion-avatar>
  <h5>مطهری</h5>
 </ion-item>
  <ion-item dir="rtl">
   <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
  </ion-avatar>
 <h5>جابرانصاری</h5>
  </ion-item>
  <ion-item dir="rtl">
    <ion-avatar item-end>
   <ion-icon name="subway"></ion-icon>
   </ion-avatar>
     <h5>کاوه</h5>
     </ion-item>
  <ion-item dir="rtl">
   <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
  </ion-avatar>
  <h5>چمران </h5>
 </ion-item>
   <ion-item dir="rtl">
  <ion-avatar item-end>
 <ion-icon name="subway"></ion-icon>
     </ion-avatar>
    <h5>مدرس</h5>
   </ion-item>
  <ion-item dir="rtl">
  <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
  </ion-avatar>
   <h5> شهدا</h5>
  </ion-item>
  <ion-item dir="rtl">
  <ion-avatar item-end>
   <ion-icon name="subway"></ion-icon>
 </ion-avatar>
 <h5>تختی</h5>
  </ion-item>
 <ion-item dir="rtl">
  <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
 </ion-avatar>
  <h5>دروازه دولت</h5>
  </ion-item>
 <ion-item dir="rtl">
   <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
  </ion-avatar>
  <h5>انقلاب</h5>
  </ion-item>
 <ion-item dir="rtl">
 <ion-avatar item-end>
 <ion-icon name="subway"></ion-icon>
 </ion-avatar>
  <h5>سی و سه پل</h5>
  </ion-item>
  <ion-item dir="rtl">
  <ion-avatar item-end>
 <ion-icon name="subway"></ion-icon>
   </ion-avatar>
  <h5>میرداماد</h5>
 </ion-item>
  <ion-item dir="rtl">
 <ion-avatar item-end>
 <ion-icon name="subway"></ion-icon>
 </ion-avatar>
   <h5>شریعتی</h5>
 </ion-item>
  <ion-item dir="rtl">
  <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
 </ion-avatar>
  <h5>دروازه شیراز</h5>
 </ion-item>
 <ion-item dir="rtl">
    <ion-avatar item-end>
    <ion-icon name="subway"></ion-icon>
   </ion-avatar>
    <h5>دانشگاه</h5>
   </ion-item>
   <ion-item dir="rtl">
      <ion-avatar item-end>
      <ion-icon name="subway"></ion-icon>
     </ion-avatar>
      <h5>کارگر</h5>
     </ion-item>
     <ion-item dir="rtl">
        <ion-avatar item-end>
        <ion-icon name="subway"></ion-icon>
       </ion-avatar>
        <h5>خوابگاه</h5>
       </ion-item>
       <ion-item dir="rtl">
          <ion-avatar item-end>
          <ion-icon name="subway"></ion-icon>
         </ion-avatar>
          <h5>ترمینال صفه</h5>
         </ion-item>
          </ion-list>
      
        
</ion-content>