ion-header ion-toolbar {
    --ion-color-base: #577cd5;
    /* fallback for old browsers */
    --ion-color-base: -webkit-linear-gradient(to right, #577cd5, #66236e);
    /* Chrome 10-25, Safari 5.1-6 */
    --ion-color-base: linear-gradient(to right, #577cd5, #66236e);
  }