<ion-header>
 
  <ion-toolbar>
    <ion-title text-center style="color: white">  پایانه باقوشخانه - پل یزدآباد</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
   
  <ion-list>
 <ion-item dir="rtl">
  <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
 </ion-avatar>
 <h5>پایانه ی باقوشخانه</h5>
 </ion-item>
  <ion-item dir="rtl">
  <ion-avatar item-end>
 <ion-icon name="subway"></ion-icon>
  </ion-avatar>
  <h5>میدان قدس</h5>
  </ion-item>
  <ion-item dir="rtl">
   <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
 </ion-avatar>
 <h5>مسجد الغفور</h5>
 </ion-item>
  <ion-item dir="rtl">
  <ion-avatar item-end>
   <ion-icon name="subway"></ion-icon>
 </ion-avatar>
  <h5>آل خجند</h5>
   </ion-item>
  <ion-item dir="rtl">
 <ion-avatar item-end>
   <ion-icon name="subway"></ion-icon>
   </ion-avatar>
  <h5>مبارزان</h5>
 </ion-item>
  <ion-item dir="rtl">
   <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
  </ion-avatar>
 <h5>چهارراه هشت بهشت</h5>
  </ion-item>
  <ion-item dir="rtl">
    <ion-avatar item-end>
   <ion-icon name="subway"></ion-icon>
   </ion-avatar>
     <h5>چهارراه نورباران</h5>
     </ion-item>
  <ion-item dir="rtl">
   <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
  </ion-avatar>
  <h5>میدان بزرگمهر </h5>
 </ion-item>
   <ion-item dir="rtl">
  <ion-avatar item-end>
 <ion-icon name="subway"></ion-icon>
     </ion-avatar>
    <h5>چهارراه آبشار</h5>
   </ion-item>
  <ion-item dir="rtl">
  <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
  </ion-avatar>
   <h5> چهارراه آپادانا</h5>
  </ion-item>
  <ion-item dir="rtl">
  <ion-avatar item-end>
   <ion-icon name="subway"></ion-icon>
 </ion-avatar>
 <h5>سپهسالار</h5>
  </ion-item>
 <ion-item dir="rtl">
  <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
 </ion-avatar>
  <h5>گلزار شهدا</h5>
  </ion-item>
 <ion-item dir="rtl">
   <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
  </ion-avatar>
  <h5>هوانیروز</h5>
  </ion-item>
 <ion-item dir="rtl">
 <ion-avatar item-end>
 <ion-icon name="subway"></ion-icon>
 </ion-avatar>
  <h5>فرایبورگ</h5>
  </ion-item>
  <ion-item dir="rtl">
  <ion-avatar item-end>
 <ion-icon name="subway"></ion-icon>
   </ion-avatar>
  <h5>ملاصدرا</h5>
 </ion-item>
  <ion-item dir="rtl">
 <ion-avatar item-end>
 <ion-icon name="subway"></ion-icon>
 </ion-avatar>
   <h5>دروازه شیراز</h5>
 </ion-item>
  <ion-item dir="rtl">
  <ion-avatar item-end>
  <ion-icon name="subway"></ion-icon>
 </ion-avatar>
  <h5>توحید</h5>
 </ion-item>
 <ion-item dir="rtl">
    <ion-avatar item-end>
    <ion-icon name="subway"></ion-icon>
   </ion-avatar>
    <h5>حکیم نظامی</h5>
   </ion-item>
   <ion-item dir="rtl">
      <ion-avatar item-end>
      <ion-icon name="subway"></ion-icon>
     </ion-avatar>
      <h5>حسین آباد</h5>
     </ion-item>
     <ion-item dir="rtl">
        <ion-avatar item-end>
        <ion-icon name="subway"></ion-icon>
       </ion-avatar>
        <h5>میدان ارتش</h5>
       </ion-item>
       <ion-item dir="rtl">
          <ion-avatar item-end>
          <ion-icon name="subway"></ion-icon>
         </ion-avatar>
          <h5>فرح آباد</h5>
         </ion-item>
          
          <ion-item dir="rtl">
            <ion-avatar item-end>
            <ion-icon name="subway"></ion-icon>
           </ion-avatar>
            <h5>سه راه سیمین</h5>
           </ion-item>
          
            <ion-item dir="rtl">
              <ion-avatar item-end>
              <ion-icon name="subway"></ion-icon>
             </ion-avatar>
              <h5>مسجدالمعصوم</h5>
             </ion-item>
             
              <ion-item dir="rtl">
                <ion-avatar item-end>
                <ion-icon name="subway"></ion-icon>
               </ion-avatar>
                <h5>مفتح</h5>
               </ion-item>
              
                <ion-item dir="rtl">
                  <ion-avatar item-end>
                  <ion-icon name="subway"></ion-icon>
                 </ion-avatar>
                  <h5>باغ فردوس</h5>
                 </ion-item>
                  
                  <ion-item dir="rtl">
                    <ion-avatar item-end>
                    <ion-icon name="subway"></ion-icon>
                   </ion-avatar>
                    <h5>کشاورز</h5>
                   </ion-item>
                  
                    <ion-item dir="rtl">
                      <ion-avatar item-end>
                      <ion-icon name="subway"></ion-icon>
                     </ion-avatar>
                      <h5>بیمارستان زینب</h5>
                     </ion-item>
                    
                      <ion-item dir="rtl">
                        <ion-avatar item-end>
                        <ion-icon name="subway"></ion-icon>
                       </ion-avatar>
                        <h5>میدان نهم دی</h5>
                       </ion-item>
                    
                        <ion-item dir="rtl">
                          <ion-avatar item-end>
                          <ion-icon name="subway"></ion-icon>
                         </ion-avatar>
                          <h5>گلزار هفتم</h5>
                         </ion-item>
                        >
                          <ion-item dir="rtl">
                            <ion-avatar item-end>
                            <ion-icon name="subway"></ion-icon>
                           </ion-avatar>
                            <h5>کوی قدس</h5>
                           </ion-item>
                          
                            <ion-item dir="rtl">
                              <ion-avatar item-end>
                              <ion-icon name="subway"></ion-icon>
                             </ion-avatar>
                              <h5>زندان</h5>
                             </ion-item>
                               <ion-item dir="rtl">
                                <ion-avatar item-end>
                                <ion-icon name="subway"></ion-icon>
                               </ion-avatar>
                                <h5>پل یزدآباد</h5>
                               </ion-item>
  </ion-list>
 
        
</ion-content>