
<ion-header>
 
    <ion-toolbar>
      <ion-title text-center style="color: white">زمانبندی</ion-title>
      <ion-buttons slot="start">
        <ion-back-button style="color: white"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header>
    <ion-content>
      <h5 text-center>وسیله ی نقلیه ی موردنظر خود را انتخاب کنید</h5>
    <ion-list>
  
        <ion-item href="/img"  dir="rtl" > 
      
          <ion-label text-center > مترو</ion-label>
        </ion-item>
      
        <ion-item href="/img"  dir="rtl" > 
         
          <ion-label text-center> اتوبوس</ion-label>
        </ion-item>
        <ion-item href="/img"  dir="rtl" > 
       
          <ion-label text-center >  BRT</ion-label>
        </ion-item>
  </ion-list>
  </ion-content>
  