<ion-header>
 
  <ion-toolbar>
    <ion-title text-center style="color:  white">مترو : خط شمالی - جنوبی</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item dir="rtl">
  <ion-avatar item-end>
  <ion-icon name="md-card"></ion-icon>
 </ion-avatar>
 <h5 color="danger">هزینه با کارت </h5>
 <h5>1000 تومان</h5>
 </ion-item>
  <ion-item dir="rtl">
  <ion-avatar item-end>
 <ion-icon name="md-cash"></ion-icon>
  </ion-avatar>
  <h5 color="danger">هزینه نقدی </h5>
 <h5>1500 تومان</h5>
  </ion-item>
  <ion-item dir="rtl">
   <ion-avatar item-end>
  <ion-icon name="md-bus"></ion-icon>
 </ion-avatar>
 <h5 color="danger">زمان حرکت </h5>
 <h5>از 6:30 تا 21:30</h5>
 </ion-item>