<ion-header>
    <ion-toolbar>
      <ion-title text-right style="color: white">زمانبندی حرکت مترو</ion-title>
      <ion-buttons slot="start">
        <ion-back-button style="color: white"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
<ion-card>
 <ion-card-header>
 <ion-card-title text-right> ایستگاه آزادی به سمت ایستگاه قدس</ion-card-title>
 </ion-card-header>
        
<ion-card-content>
 <img src='../../../../assets/metro1.png'>
 </ion-card-content>
 </ion-card>
<ion-card>
              <ion-card-header>
                <ion-card-title text-right> ایستگاه آزادی به سمت ایستگاه دفاع مقدس</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                 <img src='../../../../assets/metro2.png'>
                </ion-card-content>
              </ion-card>
  </ion-content>
  