
  <ion-header>
  <ion-toolbar>
    <ion-title text-center style="color: white">ایستگاه ها</ion-title>
    <!-- <ion-buttons slot="start">
      <ion-back-button style="color: white"></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>

</ion-header>
  <ion-content >


<ion-list>

  <ion-item href="/tab1"> 
 <ion-title text-right color="primary">  مترو </ion-title>
    <ion-label text-wrap > خط شمالی - جنوبی</ion-label>
  </ion-item>

  <ion-item href="/tab2"  dir="rtl" > 
    <ion-title text-right color="primary">BRT1 </ion-title>
    <ion-label text-wrap> پایانه باقوشخانه - پل یزدآباد</ion-label>
  </ion-item>
  <ion-item href=" "  dir="rtl" > 
    <ion-title text-right color="primary">BRT2 </ion-title>
    <ion-label text-wrap>  میدان جمهوری اسلامی - پل بزرگمهر</ion-label>
  </ion-item>
  <ion-item href="   "  dir="rtl" > 
    <ion-title text-right color="primary">BRT3 </ion-title>
    <ion-label text-wrap> پایانه شهدای ارغوانیه - پایانه خرم(صمدیه)</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 1 </ion-title>
    <ion-label text-wrap> میدان بزرگمهر - پایانه باقوشخانه - زینبیه - دارک</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 2 </ion-title>
    <ion-label text-wrap> میدان انقلاب - دولت آباد - روستای سین</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 3 </ion-title>
    <ion-label text-wrap> میدان انقلاب - دولت آباد - روستای شهرآباد</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 4 </ion-title>
    <ion-label text-wrap> میدان قدس(مصلی) - شیخ طوسی</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 5 </ion-title>
    <ion-label text-wrap> میدان قدس(مصلی) - معراج - حصه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 7 </ion-title>
    <ion-label text-wrap> پایانه بابلدشت - بیمارستان غرضی </ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 8 </ion-title>
    <ion-label text-wrap> ملک شهر - میدان اطلسی(نوبهار) - پایانه قدس </ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 9 </ion-title>
    <ion-label text-wrap> میدان جمهوری اسلامی - فروغی - میدان انقلاب</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 10 </ion-title>
    <ion-label text-wrap> پایانه باقوشخانه - میدان ارتش</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 11 </ion-title>
    <ion-label text-wrap>  پایانه باقوشخانه - دولت آباد</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 12 </ion-title>
    <ion-label text-wrap> خیابان بهار - میدان جمهوری اسلامی - خیابان وحدت</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 13 </ion-title>
    <ion-label text-wrap> میدان قدس - قهجاورستان</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 14 </ion-title>
    <ion-label text-wrap> هتل پل - مرداویج - کوی بهار</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 16 </ion-title>
    <ion-label text-wrap> سه راه ملک شهر - پایانه کوی ولی عصر</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 17 </ion-title>
    <ion-label text-wrap> میدان جمهوری اسلامی - فلاطوری - پایانه باقوشخانه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 18 </ion-title>
    <ion-label text-wrap> ولدان - میدان جمهوری اسلامی - شهید شیرانی</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 19 </ion-title>
    <ion-label > میدان جمهوری اسلامی - مهدیه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 20 </ion-title>
    <ion-label > ملک شهر - پایانه باقوشخانه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 21 </ion-title>
    <ion-label text-wrap> میدان استقلال - میدان جمهوری اسلامی - پایانه صفه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 22 </ion-title>
    <ion-label text-wrap> ابوریحان - میدان جمهوری اسلامی - پایانه شهرک ولی عصر</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 24 </ion-title>
    <ion-label text-wrap> میدان جمهوری اسلامی - خانه اصفهان - شهرک نگین</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 25 </ion-title>
    <ion-label text-wrap> پایانه خرم - رهنان</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 26 </ion-title>
    <ion-label text-wrap> شیخ بهایی -سه راه درچه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 28 </ion-title>
    <ion-label > پایانه خوراسگان - پل شیری</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 29 </ion-title>
    <ion-label text-wrap> میدان بزرگمهر - دانشگاه خوراسگان</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 30 </ion-title>
    <ion-label text-wrap> میدان جمهوری اسلامی - شهرک شهید منتظری</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 31 </ion-title>
    <ion-label text-wrap> پایانه کوی ولی عصر - پایانه زاینده رود - پایانه آبشار</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 32 </ion-title>
    <ion-label text-wrap> میدان آزادی - 220 دستگاه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 33 </ion-title>
    <ion-label text-wrap> میدان نهم دی - شهرک امیریه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 35 </ion-title>
    <ion-label text-wrap> مصلی - دشتستان - لاهور - هتل پل</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 36 </ion-title>
    <ion-label text-wrap> هتل پل - کوی امام</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 37 </ion-title>
    <ion-label text-wrap> میدان آزادی - راه آهن</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 40 </ion-title>
    <ion-label text-wrap> هتل پل - شهرک امیریه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 41 </ion-title>
    <ion-label text-wrap> باب الرحمه - جوی آباد</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 42 </ion-title>
    <ion-label text-wrap> میدان امام حسین(دروازه دولت) - باغ غدیر - همدانیان</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 43 </ion-title>
    <ion-label text-wrap> میدان امام حسین(دروازه دولت) - پروین - میدان لاله</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 44 </ion-title>
    <ion-label text-wrap> پایانه باقوشخانه - پایگاه هشتم شکاری</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 45 </ion-title>
    <ion-label text-wrap> پایانه خرم - رهنان - لیمجیر - پایانه قدس</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 46 </ion-title>
    <ion-label text-wrap> قائمیه - میدان نهم دی - کوی امیریه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 47 </ion-title>
    <ion-label text-wrap> اطشاران - تالار - امام علی</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 48 </ion-title>
    <ion-label text-wrap> پایانه ارغوانیه - براآن شمالی</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 49 </ion-title>
    <ion-label > میدان شهید بختیاری - درخشان - رزمندگان - میدان شهید بختیاری</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 50 </ion-title>
    <ion-label text-wrap> عاشق آباد - شهرک کوثر - ایستگاه مترو پاسداران</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 52 </ion-title>
    <ion-label > میدان احمدآباد - خواجه عمید - گرکان</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 53 </ion-title>
    <ion-label text-wrap> مهدیه - شهیدرجایی - کردآباد</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 54 </ion-title>
    <ion-label text-wrap> میدان آزادی - بهارستان</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 55 </ion-title>
    <ion-label text-wrap> میدان آزادی - میدان ولی عصر - بهارستان</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 56 </ion-title>
    <ion-label text-wrap> دهنو - میدان استقلال</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 57 </ion-title>
    <ion-label text-wrap> میدان جمهوری اسلامی - زینبیه - دارک</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 58 </ion-title>
    <ion-label text-wrap> میدان جمهوری اسلامی - بابوکان</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 59 </ion-title>
    <ion-label text-wrap> پایانه بابلدشت - دستگرد</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 61 </ion-title>
    <ion-label text-wrap> هتل پل - کوی اما جعفرصادق</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 62 </ion-title>
    <ion-label > هتل پل - کوی سپاهان</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 63 </ion-title>
    <ion-label text-wrap> میدان امام حسین(دروازه دولت) - دانشگاه اصفهان</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 64 </ion-title>
    <ion-label text-wrap> میدان بزرگمهر - سروش بادران</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 66 </ion-title>
    <ion-label text-wrap> میدان نهم دی - درچه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 67 </ion-title>
    <ion-label text-wrap> میدان جمهوری اسلامی - دانشگاه صنعتی</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 68 </ion-title>
    <ion-label text-wrap> پارک شهید رجایی - هشت بهشت - پایانه خوراسگان</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 70 </ion-title>
    <ion-label text-wrap> پایانه بابلدشت - گلستان </ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 71 </ion-title>
    <ion-label text-wrap> سه اه پینارت - میدان ارغوانیه </ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 71 </ion-title>
    <ion-label text-wrap> بیمارستان غرضی - ضابط زاده - میدان شهدا </ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 72 </ion-title>
    <ion-label text-wrap> پایانه زاینده رود - کوی ولیعصر</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 73 </ion-title>
    <ion-label text-wrap> پایانه خوراسگان - گورت</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 74 </ion-title>
    <ion-label text-wrap> پل شیری - میرزاطاهر - بهشت - پایانه قدس</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 75 </ion-title>
    <ion-label text-wrap> چهارراه وفایی - نبوی منش - سه راه درچه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 76 </ion-title>
    <ion-label text-wrap> میدان آزادی - سپاهان شهر</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 77 </ion-title>
    <ion-label text-wrap> میدان جمهوری اسلامی - شهرک آزادگان</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 78 </ion-title>
    <ion-label text-wrap> میدان امام حسین(دروازه دولت) - شهرک ولی عصر </ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 79 </ion-title>
    <ion-label text-wrap> پایانه باقوشخانه - میدان انقلاب - شهید مفتح</ion-label>
  </ion-item>

  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 80 </ion-title>
    <ion-label text-wrap> سه راه ملک شهر - پایانه صفه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 81 </ion-title>
    <ion-label text-wrap> پایانه بابلدشت - برازنده</ion-label>
  </ion-item><ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 82 </ion-title>
    <ion-label text-wrap>  سه راه ملک شهر - پایانه قدس - میدان استقلال</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 83 </ion-title>
    <ion-label > پایانه کاوه - پروین - میدان بزرگمهر</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 84 </ion-title>
    <ion-label text-wrap> پایانه آبشار - ردان - فیزادران</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 85 </ion-title>
    <ion-label text-wrap> میدان امام حسین(دروازه دولت) - شهرک نگین</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 86 </ion-title>
    <ion-label text-wrap> میدان آزادی - سپاهان شهر</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 88 </ion-title>
    <ion-label text-wrap> میدان جمهوری اسلامی - عطاءالملک - پایانه مترو قدس</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 90 </ion-title>
    <ion-label text-wrap> میدان بزرگمهر - روشن شهر</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 91 </ion-title>
    <ion-label text-wrap> ملک شهر - پایانه صفه  </ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 92 </ion-title>
    <ion-label text-wrap> میدان انقلاب -  خانه اصفهان</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 94 </ion-title>
    <ion-label text-wrap> میدان شهید علیخانی - پایانه صفه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 95 </ion-title>
    <ion-label text-wrap> میدان استقلال - محمودآباد</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 96 </ion-title>
    <ion-label text-wrap> پایانه آبشار - دنارت</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 97 </ion-title>
    <ion-label text-wrap> پایانه آبشار - شهید کشوری</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 101 </ion-title>
    <ion-label text-wrap> پایانه باقوشخانه - حبیب آباد</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 102 </ion-title>
    <ion-label text-wrap> پایانه باقوشخانه - کمشچه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 103 </ion-title>
    <ion-label text-wrap> پایانه آبشار اصفهانک</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 104 </ion-title>
    <ion-label text-wrap> باسکول - پل ابریشم - افجد</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 105 </ion-title>
    <ion-label text-wrap> پایانه آبشار - زیار</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 106 </ion-title>
    <ion-label text-wrap> پایانه کاوه - میدان لاله - فرودگاه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 145 </ion-title>
    <ion-label text-wrap> پایانه خوراسگان - آیت الله طالقانی</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 145 </ion-title>
    <ion-label text-wrap> میدان پزوه - شهدای ستاری - اریسون</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 146 </ion-title>
    <ion-label text-wrap> پایانه خوراسگان - حتم آباد</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 147 </ion-title>
    <ion-label text-wrap> پایانه خوراسگان - حسن آباد</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 149 </ion-title>
    <ion-label text-wrap> پایانه خوراسگان - خاتون آباد - حصه</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 150 </ion-title>
    <ion-label text-wrap> پایانه خوراسگان - راران - اطشاران - خیابان جی</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 151 </ion-title>
    <ion-label text-wrap> پایانه خوراسگان - سمسور - خاتون آباد - قلعه نو</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 152 </ion-title>
    <ion-label > پایانه باقوشخانه - ارزنان</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 157 </ion-title>
    <ion-label text-wrap> دارک - شهرک امام حسین</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 167 </ion-title>
    <ion-label > داخلی دانشگاه صنعتی</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 169 </ion-title>
    <ion-label text-wrap> میدان جمهوری اسلامی - شهرک علمی تحقیقاتی</ion-label>
  </ion-item>
  <ion-item href="/tab"  dir="rtl" > 
    <ion-title text-right color="primary">خط 176 </ion-title>
    <ion-label text-wrap> داخلی سپاهان شهر</ion-label>
  </ion-item>
</ion-list>
</ion-content>