<!-- <ion-header>
    <ion-toolbar>
    </ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
  </ion-header> -->
  
  <ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="number3" >
      <ion-icon name="home"></ion-icon>
      <ion-label>هرینه</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="number2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>مسیربرگشت</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="number1" >
      <ion-icon name="settings"></ion-icon>
      <ion-label>مسیررفت</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>